.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

vendor/
nnf_ec
nnf-ec
nnf_server
nnf-server


cmd/commands.log
commands.log

# Key-Value Database
kvdebug
*.db

scripts/__pycache__/
*.py[cod]
